<link rel="stylesheet" href="/connectionErrors.css" />

<div 
    id="components-reconnect-modal"
    class="h4 bg-dark text-white text-center p-2 components-reconnect-hide">
    Blazor Connection Lost
    <div class="reconnect">
        Trying to reconnect...
    </div>
    <div class="failed">
        Reconnection Failed.
        <button class="btn btn-light btn-sm m-1" onclick="window.Blazor.reconnect()">
            Reconnect
        </button>
    </div>
    <div class="rejected">
        Reconnection Rejected.
        <button class="btn btn-light btn-sm m-1" onclick="location.reload()">
            Reload
        </button>
    </div>
</div>