<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Departament</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(Person person in People ?? Enumerable.Empty<Person>())
            {
                <tr class="@GetClass(person?.Location?.City)">
                    <td>@person?.PersonId</td>
                    <td>@person?.Surname, @person?.Firstname</td>
                    <td>@person?.Department?.Name</td>
                    <td>@person?.Location?.City, @person?.Location?.State</td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="form-group">
    <label for="city">City</label>
    <select name="city" class="form-control" @bind="SelectedCity">
        <option disabled selected value="">Select City</option>
        @{
            foreach(string city in Cities ?? Enumerable.Empty<string>())
            {
                <option value="@city" selected="@(city == SelectedCity)">
                    @city
                </option>
            }
        }
    </select>
</div>

<SelectFilter Title="City" Values="@(Cities)" autofocus="true" name="city" required="true"/>

@code {
    [Inject]
    public DataContext? DataContext{ get; set; }

    public IEnumerable<Person>? People => DataContext?.People
    .Include(people => people.Department)
    .Include(people => people.Location);

    public IEnumerable<string>? Cities => DataContext?.Locations.Select(location => location.City);

    public string SelectedCity { get; set; } = string.Empty;

    public string GetClass(string? city) => SelectedCity == city ? "bg-info text-white" : "";
}
