<div class="form-group">
    <label for="select-@Title"></label>
    <select 
        name="select-@Title" 
        class="form-control"
        @bind="SelectedValue"
        @attributes="Attrs">
            <option disabled selected value="">Select @Title</option>
        @{
            foreach (string value in Values)
            {
                            <option value="@value" selected="@(value == SelectedValue)">
                    @value
                            </option>
            }
        }
    </select>
</div>

@code {
    [Parameter]
    public IEnumerable<string> Values { get; set; } = Enumerable.Empty<string>();

    public string? SelectedValue { get; set; }

    [Parameter]
    public string Title { get; set; } = "Placeholder";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attrs { get; set; }
}