@model Product

@{
    Layout = "_SimpleLayout";
}
<h5 class="bg-primary text-white text-center p-2">HTML Form</h5>

<form 
    id="htmlform"
    method="post" 
    action="/controllers/form/submitform" >
    <div class="form-group">
        <label>Name</label>
        <input 
            asp-for="Name" 
            name="Name" 
            value="@Model?.Name" 
            class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
<button 
    asp-action="submitform" 
    form="htmlform" 
    class="btn btn-primary mt-2">
    Submit (Outside Form)
</button>
