@page "/myorders"
@using BlazingPizzaSite.Models
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <NavLink href="myorders" class="nav-tab">
        <img src="img/bike.svg" />
        <div>My Orders</div>
    </NavLink>
</div>

<div class="main">
    @if(ordersWithStatus == null){
        <text>Loading...</text>
    }
    else if(!ordersWithStatus.Any())
    {
        <h2>No orders palced</h2>
        <a class="btn btn-success" href="">Order some pizza</a>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach(var order in ordersWithStatus)
            {
                <div class="list-group-item">
                    <div class="col">
                        <h5>@order.Order.CreatedTime.ToLongDateString()</h5>
                        Items:
                        <strong>@order.Order.Pizzas.Count</strong>
                        Total price:
                        <strong>£@order.Order.GetFormattedTotalPrice()</strong>
                    </div>
                    <div class="col">
                        Status: <strong>@order.StatusText</strong>
                    </div>
                    @if(@order.StatusText != "Delivered")
                    {
                        <div class="col flex-grow-0">
                            <a href="myorders/" class="btn btn-success">
                                Track &gt;</a>
                                </div>
                    }
                </div>
            }
        </div>
    }
</div>

@code {
    List<OrderWithStatus> ordersWithStatus = new();

    protected override async Task OnParametersSetAsync()
    {
        ordersWithStatus = await httpClient.GetFromJsonAsync<List<OrderWithStatus>>($"{navigationManager.BaseUri}orders");
    }
}
