@page "/pages/blazor"

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", () => {
        const button = document.getElementById("markElements");
        button.addEventListener("click", () => {
            document.querySelectorAll("td:first-child")
            .forEach(element => {
                element.innerText = `M:${element.innerText}`;
                element.classList.add("border", "border-dark");
            });
        });
    });
</script>

<h4 class="bg-primary text-white text-center p-2">Blazor People</h4>

<button id="markElements" class="btn btn-outline-primary mb-2">Mark Elements</button>
<component 
    type="typeof(Advanced.Blazor.PeopleList)" 
    render-mode="Server" 
    param-SelectTitle="@("Location")" 
    param-ItemCount="@(5)" />

<h4 class="bg-primary text-white text-center p-2 mt-2">Events</h4>
<component type="typeof(Advanced.Blazor.Events)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2 mt-2">Bindings</h4>
<component type="typeof(Advanced.Blazor.Bindings)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2">Code-Behind</h4>
<component type="typeof(Advanced.Blazor.Split)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2">Class-Only</h4>
<component type="typeof(Advanced.Blazor.CodeOnly)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2">Generic template component</h4>
<component type="typeof(Advanced.Blazor.PeopleListTemplate)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2">Departments</h4>

<component type="typeof(Advanced.Blazor.DepartmentList)" render-mode="Server" />

<component type="typeof(Advanced.Blazor.ErrorHandler)" render-mode="Server" />