@page
@using System.Text.Json;
@model CreateModel

<div class="m-2">
    <partial name="_ProductEditor" model="@Model.ViewModel" />
</div>

@functions {
    public class CreateModel : EditorPageModel
    {
        public CreateModel(DataContext dataContext) : base(dataContext)
        { }

        public void OnGet()
        {
            Product product = TempData.ContainsKey("product") ? JsonSerializer.Deserialize<Product>((TempData["product"] as string)!) : new Product();
            ViewModel = ProductViewModelFactory.Create(product, Categories, Suppliers);
        }

        public async Task<IActionResult> OnPostAsync([FromForm] Product product)
        {
            await CheckNewCategory(product);
            if (ModelState.IsValid)
            {
                product.ProductId = default;
                product.Category = default;
                product.Supplier = default;
                DataContext.Products.Add(product);
                await DataContext.SaveChangesAsync();
                return RedirectToPage("Form");
            }
            ViewModel = ProductViewModelFactory.Create(product, Categories, Suppliers);
            return Page();
        }
    }
}