@page
@model DetailsModel

<div class="m-2">
    <partial name="_ProductEditor" model="@Model.ViewModel" />
</div>

@functions{
    public class DetailsModel : EditorPageModel
    {
        public DetailsModel(DataContext dataContext) : base(dataContext)
        { }

        public async Task OnGetAsync(long id)
        {
            Product? product = await DataContext.Products
            .Include(product => product.Category)
            .Include(product => product.Supplier)
            .FirstOrDefaultAsync(product => product.ProductId == id);

            ViewModel = ProductViewModelFactory.Details(product ?? new Product());
        }
    }
}