@page "{id:long}"
@model WebApp.Pages.EditorModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="bg-primary text-white text-center p-2 m-2">Editor</div>
        <div class="m-2">
            <partial name="_ProductPartial" model="Model.Product" />
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Price</label>
                    <input name="price" class="form-control" value="@Model.Product?.Price" />
                </div>
                <button class="btn btn-primary mt-2" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>