@page
@using System.Text.Json;
@model EditModel

<div class="m-2">
    <partial name="_ProductEditor" model="@Model.ViewModel" />
</div>

@functions {
    public class EditModel : EditorPageModel
    {
        public EditModel(DataContext dataContext) : base(dataContext)
        { }

        public async Task OnGet(long id)
        {
            Product? product = TempData.ContainsKey("product") ?
            JsonSerializer.Deserialize<Product?>((TempData["product"] as string)) :
            await DataContext.Products.FindAsync(id);

            ViewModel = ProductViewModelFactory.Edit(product ?? new Product(), Categories, Suppliers);
        }

        public async Task<IActionResult> OnPostAsync([FromForm] Product product)
        {
            await CheckNewCategory(product);
            if (ModelState.IsValid)
            {
                product.Category = default;
                product.Supplier = default;
                DataContext.Products.Update(product);
                await DataContext.SaveChangesAsync();
                return RedirectToPage("Form");
            }
            ViewModel = ProductViewModelFactory.Edit(product, Categories, Suppliers);
            return Page();
        }
    }
}