@page
@model EditModel

<div class="m-2">
    <partial name="_ProductEditor" model="@Model.ViewModel" />
</div>

@functions {
    public class EditModel : EditorPageModel
    {
        public EditModel(DataContext dataContext) : base(dataContext)
        { }

        public async Task OnGet(long id)
        {
            Product product = await this.DataContext.Products.FindAsync(id) ?? new Product();
            ViewModel = ProductViewModelFactory.Edit(product, Categories, Suppliers);
        }

        public async Task<IActionResult> OnPostAsync([FromForm] Product product)
        {
            if (ModelState.IsValid)
            {
                product.Category = default;
                product.Supplier = default;
                DataContext.Products.Update(product);
                await DataContext.SaveChangesAsync();
                return RedirectToPage("Form");
            }
            ViewModel = ProductViewModelFactory.Edit(product, Categories, Suppliers);
            return Page();
        }
    }
}