<!DOCTYPE html>
<html>
    <head>
        <link 
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" 
            asp-fallback-href="/lib/bootstrap/css/bootstrap.min.css"
            asp-fallback-test-class="btn"
            asp-fallback-test-property="display"
            asp-fallback-test-value="inline-block"
            rel="stylesheet" />
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
            asp-fallback-src="/lib/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
        </script>
    </head>
    <body>
        <div class="m-2">
            <h2 class="bg-info text-white text-left m-1 p-1">Filters</h2>      
            <cache 
                expires-after="@TimeSpan.FromSeconds(15)" 
                expires-sliding="@TimeSpan.FromSeconds(10)"
                vary-by-route="action">
                <h6 class="bg-primary text-white m-1 p-1">
                    Cached timestamp: @DateTime.Now.ToLongTimeString() (for 15 seconds)
                </h6>
            </cache>
            @RenderBody()
        </div>
    </body>
</html>