@page
@inject CitiesData CitiesData;

<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <tbody>
            @{
            foreach(City city in CitiesData.Cities)
            {
            <tr>
                <td>@city.Name</td>
                <td>@city.Country</td>
                <td>@city.Population</td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>