@page
@inject DataContext _dataContext;

<h5 class="bg-primary text-white text-center p-2 m-2">Categories</h5>
<ul class="list-group m-2">
    @{
        foreach(Category category in _dataContext.Categories)
        {
            <li class="list-group-item">@category.Name</li>
        }
    }
</ul>
<div class="bg-info text-white m-2 p-2">
    <vc:city-summary />
</div>